.main__container {
  @media (min-width: 768px) {
    display: flex;
  }
}

.main {
  // display: flex;
  background-color: #540B0E;
  min-height: 500px;
  padding: 19px;
}

// .main__container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 500px;
//   width: 100%;
// }

.main__goods {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  align-items: center;
}

.main__empty {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  font-size: 48px;
}

.filter__reset-filters { 
  font-size: 24px;
  cursor: pointer;
  &:hover {
    background-color: #335C67;
    color: white;
  }
}

.filter__reset-settings {
  font-size: 24px;
  cursor: pointer;
  &:hover {
    background-color: #335C67;
    color: white;
  }
}

.filters__input {
  width: 100%;
  font-size: 24px;
  height: 40px;
}
