// colors
$color-font-primary: #717581;
$color-font-secondary: #FFFFFF;
$color-font-orange: #F08D31;
$color-price-decrease: #C5283E;
$color-price-increase: #15AA62;
$color-bg-primary: #1A1C21;
$color-bg-secondary: #3C404D;

// fonts
$size-text: 1.5rem;
$size-title: 2rem;

// breakpoints
$small-laptop: 140rem;
$tablet: 102.4rem;
$mobile: 76.8rem;

// transition
$transition: all 0.3s ease-in;