.searchPanel {
  margin-top: 4px;
  height: 40px;
  background-color: #1A1C21;
  padding: 0 6px 0 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .searchBox {
    width: 100%;

    .searchField {
      width: 100%;
      background-color: #1A1C21;
      font-size: 18px;
      height: 24px;
      color: white;
      border: none;
    }

  }

}

.settingsPanel {
  margin-bottom: 4px;
  height: 40px;
  background-color: #1A1C21;
  width: 100%;
  display: flex;
  font-size: 2rem;
  
  .settingsLeft {
    display: flex;
    width: 100%;
    padding: 6px;
    
    .sortBtn {
      display: flex;
      background-color: #3C404D;
      width: 100%;
      border-radius: 6px;
      color: #717581;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      
      &:hover {
        background-color: grey;
        color: white;
      }
    }
    
  }
  
  .settingsCenter {
    display: flex;
    width: 100%;
  }
  
  .settingsRight {
    display: flex;
    padding: 6px;
    width: 100%;
    
    .filtersBtn {
      display: flex;
      background-color: #3C404D;
      width: 100%;
      border-radius: 6px;
      color: #717581;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      
      &:hover {
        background-color: grey;
        color: white;
      }
    }
    
  }
  
}