.msg {
  opacity: .5;
  background-color: #B3E246;
  display: flex;
  width: 100%;
  min-height: 100px;
  justify-content: space-between;
  padding: 5px 10px;
  // gap: 10px;
}

.msg__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.msg__avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: black;
}

.msg__right {
  // background-color: #072104;
  background-color: rgba($color: #072104, $alpha: .7);
  display: flex;
  width: 100%;
  border-radius: 10px;
}

.msg__speechpad {
  border-bottom-right-radius: 10px;
  background-color: #B3E246;
  width: 10px;
}

.msg__author {
  color: #9D94BB;
}

.msg__text {
  color: #FFF;
}