.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  background-color: #9E2A2B;
  z-index: 5;
  height: 52px;
}

.header__logo {
  font-size: 24px;
  cursor: pointer;
}

.header__right {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.header__cart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  width: 60px;
  height: 24px;
  cursor: pointer;
  position: relative;
}

.cart__icon {
  width: 24px;
  height: 24px;
  position: relative;
}

.cart__counter {
  position: relative;
}

.cart__popup {
  position: fixed;
  display: flex;
  top: 50px;
  right: 0px;
  background-color: #FFF3B0;
  color: black;
  font-size: 32px;
}

.burger-button {

}