.card {
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  height: 350px;
  width: 100%;
  align-items: center;
  gap: 10px;
  text-align: center;
  cursor: pointer;
}

.card:hover {
  background-color: #9E2A2B !important;
}

.card__title {
  font-weight: 700;
}

.card__img {
  height: 100px;
}

.card__status {
  justify-self: flex-end;
}
