@import '../../styles/variables';

.header {
    background-color: $color-bg-primary;
    color: $color-font-primary;
    font-size: $size-text;

    .container {
        margin: 0 auto;
        padding: 0 2rem;
        width: 180rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}