@import '../../../styles/variables.scss';

.nav {
  // position: absolute;
  display: flex;
  align-items: center;
  gap: 20px;
  
  & a {
    position: relative;
    color: $color-font-primary;
    transition: $transition;

    &:hover {
        color: $color-font-secondary;
    }
  }

  .active {
    color: $color-font-secondary;

    &::before {
      display: block;
      position: absolute;
      top: -1.2rem;
      height: .3rem;
      width: 100%;
      background-color: $color-font-secondary;
      content: "";
    }

  }
}
